# dependencies
node_modules

# next.js
.next
out
.tmp

# misc
.DS_Store
*.pem

# env files (secrets)
.env
.env.*
.env*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
